<!DOCTYPE html>
<html>
  <head>
    <title>Strava Power Profiler</title>
    <link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.js"></script>
    {{ script | safe }}
  </head>
  <body>
  	<div id="nav_bar">
  		<div id="user_pic"><img src="{{ url_for('static',filename='user_pic.jpg')}}" id="user_pic" alt="Pic"></img></div>
  		<div id="iowava">Power Profile</div>
  		<div id="username">{{ athlete.username }}</div>
  	</div>
  	<div id="graph">
  		<div id="bokeh_div">{{ div | safe }}</div>
  	</div>
  	<div id="options">
  		<div id="recent_rides">
			<form id='recent_rides_options' method='POST' action={{ url_for('update_rides') }} >
				# of recent rides: <input type="text" name="num_recent_rides">
				<input type="submit" value="Update">
			</form>
  		</div>
  	</div>
  	<div id="recents">
  		<div id="recent_rides">
  			<table>
  				{% for activity in recent_activities %}
  				<tr>
  					<td>{{ activity.start_date_local.strftime('%a, %b %d') }}</td>
  					<td>{{ activity.name }}</td>
  				</tr>
  				{% endfor %}
  			</table>
  		</div>
  		<div id="recent_segments">
  			<table>
  				{% for effort in recent_segments %}
  				<tr>
  					<td>{{ effort.segment.name }}</td>
  					<td>Hill score = {{ effort.hill_score }}</td>
  					<td>Var score = {{ effort.var_score }}</td>
  				</tr>
  				{% endfor %}
  			</table>
  		</div>
  	</div>
  	<div id="footer">
  		Some footer stuff
  	</div>
  </body>
</html>