<!DOCTYPE html>
<html>
  <head>
    <title>Strava Power Profiler</title>
    <link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.js"></script>
    {{ script | safe }}
  </head>
  <body>
  	<div id="nav_bar">
  		<div id="user_pic"><img src="{{ url_for('static',filename='user_pic.jpg')}}" id="user_pic" alt="Pic"></img></div>
  		<div id="iowava">Power Profile</div>
  		<div id="username">{{ athlete.username }}</div>
  	</div>
  	<a href="/power_profile">Power profile</a>
  	<!-- <a href="/grade_segments">Grade segments</a> -->
  	<div id="footer">
  		Some footer stuff
  	</div>
  </body>
</html>